@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf) format('truetype');
}
@font-face {
    font-family: yeseva;
    src: url(../fonts/Yeseva_One/YesevaOne-Regular.ttf) format('truetype');
}
@font-face {
    font-family: inter i;
    src: url(../fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf) format('truetype');
}
body {
    background-color: #F6F2E6;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 2rem;
    border-bottom: 1px solid #D13536;
}
nav ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav img {
    height: 25px;
}
nav li a {
    font-family: Inter;
    color: #D13536;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
}
img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: auto;
}
footer {
    padding: 1rem;
    border-top: 1px solid #D13536;
}

.grid_2-3, .grid_3-2 {
    background-color: #ebe6d7;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 3rem;
    max-width: 75rem;
}

/* PROJEKTER */ 
.projekt {
    padding-left: 1rem;
}
dialog {
    max-width: 800px;
    width: 90%;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
dialog::backdrop {
    backdrop-filter: blur(3px);
}
dialog p {
    padding-right: 3rem;
    max-width: 50rem;
}

.collage {
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    display: block;
}
#wire {
    width: 500px;
}
.rød-img {
    border-radius: 2rem;
}