h1 {
    color: #D13536;
    font-family: yeseva;
    font-size: xx-large;
    padding: 1.5rem;
    text-align: center;
}

h2 {
    color: #D13536;
    font-family: inter i;
    letter-spacing: 1px;
}

h3 {
    font-family: inter;
}

p {
    font-family: inter;
    line-height: 2rem;
}

footer {
    color: #D13536;
}